body{
	background-color: #D6F2AF;
	font-size: medium;
}

h1{
	color: #5C0E00;
}


h2{
	color: #962B17;
}

h3{
	color: #962B17;
}

h4{
	color: #962B17;
}

blockquote{
	color: #4E0022;
}

li{
	color: #004317;
}

a:link{
	color: #004317;
}
a:visited{
	color: #FA9E8D;
}
a:hover{
	color: #409B5F;
}

p{
	color: #5C0E00;
}

.thumbnailleft{
	float: left;
	padding-right: 20px;
}

.thumbnailright{
	float: right;
	padding-left: 20px;
}

table {
	width: 100%;
	border-collapse: collapse;
	font-size: medium;
	color: #5C0E00;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin-top: 1em;
}
caption {
	caption-side: top;
	font-size: 1.3em;
	font-weight: bold;
	padding: 10px;
	color: #4E0022;
	background-color: #004317;
	border-radius: 12px;
}

th {
	background-color: #004317;
	color: #FFFFFF;
	text-align: left;
	padding: 10px;
}

td {
	background-color: #D6F2AF;
	border: 1px solid #004317;
	padding: 10px;
	vertical-align: top;
}

tr:nth-child(even) td {
	background-color: #9AD4AE;
}
